@using System.Security.Cryptography
@model IEnumerable<BankSystem.DTO.TransactionInfoModel>

@{
    ViewBag.Title = "title";
  //  Layout = "_Layout";
}

<h2>All Transactions</h2>
@{
    foreach (var transaction in Model)
    {
        <h1>Sender</h1>
        <p>@transaction.SenderId    @transaction.SenderAccountOwner</p>
        <h1>Receiver</h1>
        <p>@transaction.ReceiverId    @transaction.ReveiverAccountOwner</p>
        <h1>Amount</h1>
        <p>@transaction.Amount @transaction.Currency.</p>
        <h1>Date</h1>
        <p>@transaction.Date</p>
        <h1>/////////////////////////////////////</h1>
    }
}
